.App {
  text-align: center;
}

.App-header {
  background-color: #00349b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.SearchBox {
  width: 300px;
  height: 30px;
  padding: 5px 10px;
  letter-spacing: 1.7px;
  font-size: 18px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.SearchBox:focus {
  outline: 0;
}

.CommentList {
  list-style-type: none;
  font-size: 16px;
  border-top: 1px solid #000000;
  padding: 3px 10px;
}

ul.comment {
  background: #ffffff;
  color: #000000;
  padding: 0;
  margin: 0 20px 0 0;
  width: 300px;
}

.Search-Icon {
  position: relative;
  top: 12px;
  right: 35px;
  color: #ae0000;
}

.SearchArea {
  display: flex;
}

ul.comment.setScrollHeight {
  overflow-y: scroll;
  height: 200px;
}

h1.title {
  text-transform: uppercase;
  letter-spacing: 3px;
}